#chart {
  width: 960px;
  height: 460px;
  margin: 1px auto;
  position: relative;
  pointer-events: all;
}

#legend {
    width: 960px;
    height: 20px;
    margin: 25px auto;
    position: relative;
}



text {
  pointer-events: all;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.grandparent text {
  font-weight: bold;
  font-size: 22px;
}

rect {
  stroke: #fff;
  stroke-width: 1.5px;
}

rect.parent,
.grandparent rect {
  stroke-width: 1.5px;
}

.grandparent rect {
  fill: #bbb;
  text-align: center;
}

.grandparent:hover rect {
  fill: #f0f0f0;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.child {
  opacity: 1;
}

.children rect.parent {
	opacity: 1;
}

.children:hover rect.child {
  opacity: 1;
  stroke-width: 1.5px;
}

.children:hover rect.parent {
  opacity: .5;
}

.legend rect {
  stroke-width: 0px;
}

.legend text {
  text-anchor: middle;
  font-size: 13px;
  fill: black;
}

.textdiv { /* text in the boxes */
	font-size: 16px;
	padding: 5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 500px;
  height: 285px;
  line-height: 18px;
  padding: 2px;
  font-size: 14px;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.8);
  border: 1px;
  border-radius: 8px;
  color: rgba(255, 255, 255, .95);
  pointer-events: none;
}
