<footer>

  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <p><i class="fa fa-code"></i> a <a href="http://codeforsacramento.org" target="_blank">Code for Sacramento</a> project
          <br><i class="fa fa-building"></i> 1715 I Street, Sacramento, CA 95814</p>
      </div>
      <div class="col-sm-6">
        <ul class="list-unstyled pull-right">
          <li><a href="https://github.com/code4sac/openbudgetsac.org" class="btn btn-primary btn-xs" target="_blank"><i class="fa fa-code-fork"></i> Pull requests welcome!</a></li>
          <li><a href="https://www.facebook.com/Sac2050"><i class="fa fa-facebook" target="_blank"></i></a></li>
          <li><a href="https://twitter.com/code4sac"><i class="fa fa-twitter" target="_blank"></i></a></li>
          <li><a href="https://github.com/code4sac"><i class="fa fa-github" target="_blank"></i></a></li>
          <li><a href="http://www.meetup.com/code4sac/"><i class="fa fa-calendar" target="_blank"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</footer>

</body>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="js/jquery-1.11.1.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- <script src="js/bootstrap.js"></script> -->

<!-- Facebook share button
================================================== -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=413596215361828";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Twitter share button
================================================== -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<!-- Smoothscroll
================================================== -->
<script>
  $(".scroll").click(function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 1000);

  });
</script>
