<header class="site-header">

  <!-- Fixed navbar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Open Budget Sacramento</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="twitter-button-padding"><a class="twitter-share-button"{count} href="https://twitter.com/share" data-via="code4sac"></a></li>
        <li><a class="fb-share-button" data-href="http://openbudgetsac.org" data-layout="button_count"></a></li>
      </ul>
    </div>
  </nav>

</header>
