section.container

  h1.lead Follow the money.
  p.lead Open Budget: Sacramento takes current and past budget data published by the City of Sacramento and transforms them into accessible visualizations. Our aim is to enable community members to examine their city's budget for themselves.

  .row.main
    .col.col-md-3
    .col-md-auto
      p.lead We have a suite of data visualization tools to help you understand Sacramento's budget.
      a(href="/2019-21-adopted-budget-flow.html")
        section
          h2.lead Overview
          p.lead Get a bird's eye view of the big picture for a single year: where money comes from, and where it goes.
          img.img-responsive.thumbnail.lead(src="/images/home/2020-flow-thumb.png" alt="Our flow chart shows where the money comes from and where it goes. Are the things you care about underfunded? Find out!")

      a(href="/compare.html")
        section
          h2.lead Comparison
          p.lead Put two budgets head-to-head. How much did the budget grow or shrink? How are cuts and increases distributed across spending categories? How did revenue sources change?
          img.img-responsive.thumbnail.lead(src="/images/home/compare-thumb.jpg" alt="Our comparison tool lets you compare two Sacramento city budgets.")

      a(href="/2019-21-adopted-budget-tree.html")
        section
          h2.lead Detail
          p.lead Drill down into detailed spending and revenue data for each department and fund for a single year.
          img.img-responsive.thumbnail.lead(src="/images/home/tree-thumb.jpg" alt="Our drill-down tool lets you examine Sacramento city spending and revenue in detail.")

      a(href="/budget-process.html")
        section
          h2.lead Timeline
          p.lead Orient yourself within the two-year cycle of Sacramento's budget process.
          img.img-responsive.thumbnail.lead(src="/images/home/timeline-thumb.png" alt="Our timeline shows important events coming up in the budget process.")
    .col.col-md-3
