.container
  .row
    .col-md-9
      div
        h2.subheader Who we are
        p
        | Open Budget: Sacramento is the result of many contributors including coders, community advocates, and city officials. We're looking for ideas and help, so get in touch and stop by our weekly 
        a(href='https://www.meetup.com/Code4Sac/') meetup
        |  on Tuesdays 6:30–9pm at the Urban Hive as part of 
        a(href='http://codeforsacramento.org/') Code for Sacramento
        |  hack night.
        h4.subheader Current team:
        ul.list-unstyled
          li Dan Fey
          li Gavin DeSchutter
          li Kevin Fries
          li Walter Yu
        h4.subheader City partners:
        ul.list-unstyled
          li Ash Roughani, Project Manager for Office of Innovation & Economic Development, City of Sacramento
        h4.subheader Contributors:
        ul.list-unstyled
          li Joel Riphagen
          li John Loper
          li Mark A. Matney, Jr.
          li Richard Prasad
          li Ryan Malhoski