<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  {% include nav.html %}

    <body>

      <div class="container">
        <div class="jumbotron">
          <h2>The City of Sacramento spends nearly <strong>$1 billion</strong> annually to deliver services and fund government operations.</h2>
          <p><a href="http://codeforsacramento.org" target="_blank">Code for Sacramento</a> used data from the city's <a href="http://data.cityofsacramento.org/home/" target="_blank">open data portal</a> to visualize where the money comes from and how it's spent.</p>
          <p>
            <a class="btn btn-lg btn-success scroll" href="#platforms" target="_blank" role="button"><i class="fa fa-bar-chart"></i></li> Check out our work</a>
            <a class="btn btn-lg btn-primary" href="mailto:hello@codeforsacramento.org?subject=Open Budget Sacramento" role="button"><i class="fa fa-bullhorn"></i></li> Give us feedback</a>
          </p>
        </div>

      <div id="platforms">
        {{ content }}
      </div>

      <div class="row text-center">
        <h2>Interested in seeing more?</h2>
        <p class="lead">Great. We could use your help.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="http://eepurl.com/bdGS3T" target="_blank" role="button"><i class="fa fa-envelope" target="_blank"></i></li> Get updates</a>
          <a class="btn btn-lg btn-default" href="http://www.meetup.com/Code4Sac/" role="button"><i class="fa fa-calendar" target="_blank"></i></li> Attend a meetup</a>
        </p>
      </div>

      </div>

      {% include footer.html %}

    </body>

</html>
